body {
  background-color: #282c33;
  color: #fff;
}

.App {
  width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
}

.backgroundTheme {
  background-color: #37383c;
  border: 1px solid #989797;
  border-radius: 10px;
  padding: 30px 0 30px 45px;
}

.mainWidth {
  width: 80%;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}